{% extends 'base.html' %} {% block content %}
    <div class="show-page">
        <div class="appointment-details">
            <ul>
                <li>{{appointment.date}} at {{appointment.time.hour}}:{{appointment.time.minute}}{%if appointment.time.minute==0%}0{% endif %}</li>
            </ul>
        </div>
        <div class="pet-and-owner-details">
            <ul>
                <li>Patient: <a href="/animals/{{appointment.patient.id}}">{{appointment.patient.name}}</a></li>
                <li>Owner: <a href="/owners/{{appointment.patient.owner.id}}">{{appointment.patient.owner.first_name}} {{appointment.patient.owner.last_name}}</a></li>
                <li>Contact: {{appointment.patient.owner.phone_num}} {{appointment.patient.owner.email}}</li>
            </ul>
        </div>
        <div class="vet-treatment-details">
                <li>Vet: <a href="/vets/{{appointment.vet.id}}">{{appointment.vet.first_name}} {{appointment.vet.last_name}}</a></li>
                {% for treatment in treatments %}
                <div>
                    <p><li><a href="/treatments/{{treatment.id}}">{{treatment.name}}</a>
                        Price: {{treatment.price}}
                    </li></p>
                    <form action="/appointments/{{treatment.id}}/{{appointment.id}}/remove-treatment" method="post">
                        <button type="submit" class="form-button" id="delete-note">Remove</button>
                    </form></div>
                {% endfor %}
        </div>
        <div class="edit-section">
            <a href="/appointments/{{appointment.id}}/edit"><button class="form-button">Update Appointment Details</button></a>
            <form action="/appointments/{{appointment.id}}/add-treatment" method="post">
                <label for="treatment_id">Treatment</label>
                <select name="treatment_id" id="treatment_id">
                    {% for treatment in possible_treatments %}
                        <option value="{{treatment.id}}">{{treatment.name}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="form-button">Add Treatment</button>
            </form>
            <form action="/owners/{{appointment.patient.owner.id}}/{{appointment.id}}/receipt" method="post">
                <button type="submit" class="form-button">Generate Receipt</button>
            </form>
        </div>
    </div>
    <div class="main-buttons">
    <form action="/appointments/{{appointment.id}}/delete" method="post">
        <button type="submit">Delete Appointment</button>
    </form>
    </div>
{% endblock content %}