{% extends 'base.html' %} {% block content %}
    <div class="index-list">
        <ul>
            {% for treatment in treatments %}
                <li>Name: {{treatment.name}}
                    Description: {{treatment.description}}
                    Price: {{treatment.price}}
                    <a href="/treatments/{{treatment.id}}/edit"><button class="form-button">Edit Treatment Details</button></a>
                    <form action="/treatments/{{treatment.id}}/delete" method="post">
                        <button type="submit" class="form-button">Delete Treatment</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="main-buttons"><a href="/treatments/new"><button>Add a new Treatment</button></a></div>
{% endblock content %}