{% extends 'base.html' %}{% block content %}
    <form action="/vets/{{vet.id}}" method="post" class="new-form">
        <div><label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" value="{{vet.first_name}}"></div>
        <div><label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" value="{{vet.last_name}}"></div>
        <div><label for="specialism">Specialism</label>
        <input type="text" name="specialism" id="specialism" value="{{vet.specialism}}"></div>
        <div class="main-buttons"><button type="submit">Update Vet Record</button></div>
    </form>
{% endblock content %}