{% extends 'base.html' %}{% block content %}
<div class="animal-page">   
    <div class="animal-details">
    <ul>
        <li>Name: {{ animal.name }}</li>
        <li>Date of Birth: {{ animal.dob }}</li>
        <li>Type: {{ animal.type }}</li>
    </ul>
    <a href="/animals/{{animal.id}}/edit"><button class="form-button">Update Patient Details</button></a>
</div>
    <div class="owner-details">
        <ul>
        <li>Owner: <a href="/owners/{{animal.owner.id}}">{{animal.owner.first_name}} {{animal.owner.last_name}}</a></li>
        <li>Phone Number: {{animal.owner.phone_num}}</li>
        <li>Email: {{animal.owner.email}}</li>
        </ul>
    </div>
    <div class="vet-details">
        Registered Vet: <a href="/vets/{{animal.vet.id}}">{{animal.vet.first_name}} {{animal.vet.last_name}}</a>
    </div>
    <div class="notes">
        Treatment Notes: {{animal.treatment_notes}}
    </div>
</div> 
<form action="/animals/{{animal.id}}/delete" method="post" class="delete-form">
    <button type="submit" class="form-button">Delete Patient Record</button>
</form>
{% endblock content %}