{% extends 'base.html' %}{% block content %}
<div class="animal-page">   
    <div class="animal-details">
    <ul>
        <li>Name: {{ animal.name }}</li>
        <li>Age: {{ animal.age }}</li>
        <li>Type: {{ animal.type }}</li>
        {% if animal.check_in and date < animal.check_in %}
        <li>Upcoming and Current Stays: From {{animal.check_in}} to {{animal.check_out}}</li>
        {% endif %}
        
    </ul>
    <a href="/animals/{{animal.id}}/edit"><button class="form-button">Update Patient Details</button></a>
    <a href="/appointments/{{animal.id}}/new"><button class="form-button">Create a new Appointment</button></a>
    <ul>
        <h4>Upcoming Appointments</h4>
        {% for appointment in appointments %}
            <li><a href="/appointments/{{appointment.id}}">{{appointment.date}} at {{appointment.time.hour}}:{{appointment.time.minute}}{%if appointment.time.minute==0%}0{% endif %} </a> with <a href="/vets/{{appointment.vet.id}}">{{appointment.vet.first_name}} {{appointment.vet.last_name}}</a></li>
        {% endfor %}
    </ul>
</div>
    <div class="owner-details">
        <ul>
        <li>Owner: <a href="/owners/{{animal.owner.id}}">{{animal.owner.first_name}} {{animal.owner.last_name}}</a></li>
        <li>Phone Number: {{animal.owner.phone_num}}</li>
        <li>Email: {{animal.owner.email}}</li>
        </ul>
        Registered Vet: <a href="/vets/{{animal.vet.id}}">{{animal.vet.first_name}} {{animal.vet.last_name}}</a>
    </div>
    <div class="check-in-form">
        <form action="/animals/{{animal.id}}/checkin" method="post" class="new-form">
            <h3>Long Term Stay? Set Check in and out dates</h3>
            <label for="check_in">Check In Date</label>
            <input type="date" name="check_in" id="check_in">
            <label for="check_out">Check Out Date</label>
            <input type="date" name="check_out" id="check_out">
            <button type="submit" class="form-button">Submit</button>
        </form>
    </div>
    <div class="notes">
        Treatment Notes: {{animal.treatment_notes}}
    </div>
</div> 
<form action="/animals/{{animal.id}}/delete" method="post" class="delete-form">
    <button type="submit" class="form-button">Delete Patient Record</button>
</form>
{% endblock content %}