{% extends 'base.html' %}{% block content %}
<div class="show-page">
<div class="owner-details">
    <ul>
        <li>Name: {{owner.first_name}} {{ owner.last_name }}</li>
        <li>Phone Number: {{owner.phone_num}}</li>
        <li>Email: {{owner.email}}</li>
        <li>Address: {{owner.address}}</li>
        <form action="/owners/{{owner.id}}/edit">
            <button type="submit" class="form-button">Update Owner Details</button>
        </form>
        <p>Registered: {% if owner.registered %}
            <i class="fa-regular fa-thumbs-up"></i>
            {% else %}
            <i class="fa-solid fa-thumbs-down"></i>
            {% endif %}</p>
    <form action="/owners/{{owner.id}}/registration" method="post">
        <button class="form-button" type="submit">{% if owner.registered %}
                Deregister
            {% else %}
                Register
            {% endif %}</button>
    </form>
</div>
<div class="registered">
    <h4>Current Debt</h4>
    <p>{{owner.debt}}</p>
    <form action="/owners/{{owner.id}}/pay" method="post" class="new-form payment-form">
        <label for="payment">Payment Total</label>
        <input type="number" name="payment" id="payment" max="{{owner.debt}}">
        <button type="submit" class="form-button">Make Payment</button>
    </form>
    
</div>
<div class="relational-list owner-patient-list">
        <div><p>Animals:</p>
            <ul>
                {% if animals %}
                    {% for animal in animals %}
                        <li><a href="/animals/{{animal.id}}">{{animal.name}}</a></li>
                    {% endfor %}
                {% else %}
                    No animals with the practice
                {% endif %}
            </ul></div>
        {% if owner.registered %}
        <a href="/animals/{{owner.id}}/new"><button type="button" class="form-button">Register a new Animal with this Owner</button></a>
        {% endif %}
</div>
</div>
{% endblock content %}