<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a88c3faaf8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Vet Manager</title>
</head>
<body>
    <header>
        <img src="../../static/img/logo.png" alt="Toby's Angels Logo" class="logo">
        <div class="date-nav"><p class="date">{{date.day}}-{{date.month}}-{{date.year}}</p>
            
        <nav> 
            <ul class="nav-bar">
                <li><a href="/">Home</a></li>
                <li><a href="/vets">Vets</a></li>
                <li><a href="/animals">Patients</a></li>
                <li><a href="/owners">Owners</a></li>
                <li><a href="/treatments">Treatments</a></li>
                <li><a href="/appointments">Appointments</a></li>
            </ul>
        </nav></div>
    </header>

    <div class="main-content">
        {% block content %}
            
        {% endblock content %}
    </div>
</body>
</html>