{% extends 'base.html' %}{% block content %}
<div class="announcements">
    <p>Welcome to Toby's Angels, where we go full throttle on your animal's care. Have a happy {{day}}</p>
</div>

<div class="today">
        <div class="calendar"><iframe srcdoc="{{calendar}}"></iframe></div>
    <div class="animal-box">
        <h3>Appointments Today</h3>
        <table>
            <tr>
                <td><b>Time</b></td>
                <td><b>Patient</b></td>
                <td><b>Vet</b></td>
            </tr>
            {% for app in appointments_today %}
                <tr>
                    <td><a href="/appointments/{{app.id}}">{{app.time.hour}}:{%if app.time.minute<=9%}0{% endif %}{{app.time.minute}}</a></td>
                    <td><a href="/animals/{{app.patient.id}}">{{app.patient.name}}</a></td>
                    <td><a href="/vets/{{app.vet.id}}">Dr. {{app.vet.last_name}}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="main-buttons">
    <a href="/vets"><button type="button">Vets</button></a>
    <a href="/owners"><button type="button">Owners</button></a>
    <a href="/animals"><button type="button">Animals </button></a>
</div>
{% endblock content %}